//Backgrounds
$bg-color: #333;
$box-bg-color: #666;
$box-bg-color-light: #eee;

//Fonts
$font-family: 'Open Sans', sans-serif;

//Fonts colors
$font-color: #eee;
$font-color-light: #333;
$font-color-secondary: #aaa;
$font-color-light-secondary: #777;

//Sizes
$box-inner-padding: 1rem;

//Colors
$main-accent-color: #ff7304;
$box-border-color: #222;
$box-border-color-light: #333;
